<div class="card-group">
  <div class="card">
    <img src="assets/projects-github/ninja-store.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ninja Store</h5>
      <p class="card-text">O famoso jogo do dinossauro sem internet, só que sem dinossauro e com internet. Sem o Dino?! Sim, mas tem um ninja. Construido com HTML, CSS e JavaScript</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="assets/projects-github/course-manager.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Course Manager</h5>
      <p class="card-text">Um sistema gerenciador de cursos desenvolvido com angular 13.3.1</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="assets/projects-github/app-transferencia-angular.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">App Transferencia</h5>
      <p class="card-text">Um projeto simples de transferencias em angular utilizando API json-server.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
