.recent-activities{
  position: relative;
  height: 400px;
}

.pagination{
  position: absolute;
  bottom: 0;
}

.page-link{
  padding: 3px!important;
}

@media (max-width: 992px) {
  .pagination{
    text-align: center;
    width: 100%;
  }
}
