<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="logo d-flex align-items-center flex-grow-1">
      <a class="navbar-brand" href="#"><img src="assets/img/WellyssonRochaDesenvolvedorFullStack.png" alt="Wellysson Rocha Desenvolvedor Full Stack"></a>
      <div class="d-flex flex-column logo-details">
        <span class="logo-name">Wellysson</span>
      <span class="logo-tag">Desenvolvedor Full Stack</span>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul *ngIf="false" class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['']" routerLinkActive="router-link-active" >Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre mim</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form *ngIf="false" class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
