<div class="container">
  <h3>Servicios</h3>

  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
    <div class="col">
      <div class="card">
        <div class="card-body shadow d-flex flex-column justify-content-center align-items-center">
          <img src="assets/img/front-end-removebg-preview.png" class="card-img-top" alt="...">
          <h5 class="card-title">Front-End</h5>
          <p class="card-text">Estudando e trabalhando com desenvolvimento de interface para usuários desde 2013.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body shadow d-flex flex-column justify-content-center align-items-center">
          <img src="assets/img/back-end-removebg-preview.png" class="card-img-top" alt="...">
          <h5 class="card-title">Back-End</h5>
          <p class="card-text">Já estudei várias linguagens de programação desde a faculdade, hoje me dedico ao C#.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body shadow d-flex flex-column justify-content-center align-items-center">
          <img src="assets/img/banco-dados.png" class="card-img-top" alt="...">
          <h5 class="card-title">Base de Dados</h5>
          <p class="card-text">Também tenho conhecimentos em SQL e com gerenciadores de bancos relacionais como MySql e SQL Server.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body shadow d-flex flex-column justify-content-center align-items-center">
          <img src="assets/img/ux.png" class="card-img-top" alt="...">
          <h5 class="card-title">UI / UX</h5>
          <p class="card-text">Entusiasta da User Experience e User Interface gosto de trabalhar para propocionar uma boa experiência para o usuário.</p>
        </div>
      </div>
    </div>
  </div>
</div>
