<div class="header">
<app-nav-bar></app-nav-bar>
<div class="container mt-4">
  <div class="p-relativo">
    <div class="background"></div>
  </div>
  <div class="d-flex justify-content-between align-items-center developer">
    <div class="presentation d-flex flex-column">
      <span class="hello">Olá, sou {{ userGithub?.name }} 👋 </span>
      <span class="office"><span style="font-size: 55px;">DEV</span> Full Stack.</span>
      <span class="description">Profissional da área de desenvolvimento de software com experiência, atuando em empresas de médio porte, dos seguimentos de vendas e escolas, com sólidos conhecimentos em desenvolvimento de interfaces de usuário em páginas webs com HTML, CSS, JavaScript e Angular.</span>
      <div class="social-networks d-flex justify-content-between">
        <img src="assets/img/linkedin.svg" alt="">
        <img src="assets/img/fiverr.svg" alt="">
        <img src="assets/img/github.svg" alt="">
        <img src="assets/img/Group 4.svg" alt="">
      </div>
    </div>
    <div class="logo">
      <img [src]="userGithub?.avatar_url" alt="">
    </div>
  </div>
</div>
</div>
